<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.caifulif.whstudying">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <!-- 允许应用程序改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 允许应用程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许应用程序访问WIFI网卡的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许应用程序完全使用网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".eventbus.EventBusActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".recycleview.TestRecycleView"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".udp.UDPActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".udp.UDP2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 普通前台进程 -->
        <service
            android:name=".udp.service.VMBackgroundService"
            android:enabled="true"
            android:exported="false"
            android:process=":foreground"/>

        <!-- 守护进程 -->
        <service
            android:name=".udp.service.VMDaemonService"
            android:enabled="true"
            android:exported="false"
            android:process=":daemon"/>
        <service
            android:name=".udp.service.VMDaemonService$DaemonInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":daemon"/>

        <!-- 核心进程 -->
        <service
            android:name=".udp.service.VMCoreService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".udp.service.VMCoreService$CoreInnerService"
            android:enabled="true"
            android:exported="false"/>

        <!-- 5.x 以上使用 JobService -->
        <service
            android:name=".udp.service.VMDaemonJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":daemonjob"/>

        <receiver android:name=".udp.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".mvp.view.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".banner.BannerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".hot.HotPointActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".edittext.EditTextActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".empty2listvieworgridview.ListOrGrid"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".Test"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 自定义广播 -->
        <receiver android:name=".BroadcastReceiver.Receiver">
            <intent-filter android:priority="500">
                <action android:name="myBroadcastReceiver"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".BroadcastReceiver.TestBroadcast"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">>
        </activity>
        <activity
            android:name=".BroadcastReceiver.GetBroadcastActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">>
        </activity>


        <!-- ************************* 分享 START **************************** -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55024f16fd98c5fe4e00008a"/>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- 这里需要配置自己QQ互联的AppID:tencentXXXXXX，和代码中保持一致 -->
                <data android:scheme="tencent1105705951"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- *************************    分享相关的注册 START **************************** -->
        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- *************************    分享相关的注册 END **************************** -->


    </application>

</manifest>